<body>
    <!-- Bootstrap NavBar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top ">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <a class="navbar-brand titulonav" [routerLink]="['/dashboard']">
            <b class="titulonavOperadora">Contratante</b>
        </a> -->
        <a class="navbar-brand titulonav hamburguer" >
            <p class="nav-item mb-0 text-white-50">
                <span class="fa fa-bars fa-lg"></span>
            </p>
            <span class="menu-collapsed"></span>
        </a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav navbar-right">
                <li class="nav-item d-md-none">
                    <a class="nav-link" href="#" [routerLink]="['/contratado']">
                        <span class="fa fa-hospital-o fa-fw mr-3"></span> Produtos</a>
                </li>
                
                <li>
                    <a class="nav-link" role="button" data-target=".bd-example-modal-sm" id="dropperfil"
                        data-toggle="modal" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user fa-menu fa-fw"></i>User name
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- NavBar END -->


    <!-- Bootstrap row -->
    <div class="row" id="body-row">
        <div id="sidebar-container" class="sidebar-expanded d-none d-md-block teste menu-collapsed">
            <ul class="list-group sticky-top sticky-offset ">
                <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center">
                    <img id="logoPrincipal" class="logoPrincipal" src="../../../../assets/images/teste.png" />
                </li>

                <a href="#" [routerLink]="['/produtos']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fas fa-file-contract fa-fw mr-3" tooltip="Produtos" placement="right"></span>
                        <span class="mediasmalltxt menu-collapsed">Produtos</span>
                    </div>
                </a>
            </ul>
        </div>

        <hr>

        <div class="col py-3 primary-bg">
            <div class="card col-md-12 cardRotas">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</body>