div.form-row-image {
    float: left;
    margin-right: 10px;
    text-align: center !important;
    vertical-align: middle !important;
    transition: all ease 1s;

    small {
        span {
            cursor: pointer;
        }
    }

    div#boxFoto {
        display: inline-block;
        position: relative;
        margin-top: 7px;
        img {
            width: 200px !important; //815
            height: 120px !important; //400
            padding: 4px;
            border: 1.5px dashed rgba(172, 172, 172, 0.658);
            border-radius: 15px;
            min-width: 120px !important;
            min-height: 120px !important;
            object-fit: cover;
        }
    }
}

#labelUpload:hover img {
    opacity: 0.8;
    cursor: pointer;
    transition: opacity ease-in-out 0.2s;
}

.imageUpload {
    display: none;
}

@media (max-width: 768px) {
    div.form-row-image {
        float: none;
        transition: all ease 1s;
        text-align: center !important;
        display: block !important;
    }
}

.reply-comment .media img {
    width: 70px;
    border-radius: 50%;
}

.text-danger{
    font-size: 12px;
    margin: 0 !important;
}


