body {
    padding-top: 56px;
}

.navbar-dark {
    background-color: #0d102c;
    box-shadow: 4px 1px 2px 0px rgba(50, 50, 50, 0.41);
}

.titulonav {
    color: #3086c5;
    font-size: 15px;
}

.titulonavOperadora {
    color: #3086c5;
    font-size: 19px;
}

.navbar-right {
    border-left: 6px solid #3086c5 !important;
    padding-left: 20px !important;
}

.navbar-nav>li.navbar-right {
    float: right !important;
}

.fa-menu {
    margin-right: 5px;
    padding: 0px;
    color: white;
    display: inline-block;
}

.dropdown-menu.show .dropdown-item {
    color: black;
    font-weight: 500;
}

.sticky-offset {
    top: 56px;
}

#body-row {
    margin-left: 0;
    margin-right: 0;
}

.primary-bg {
    background-color: white;
    background-size: cover;
}

@media only screen and (max-width: 765px) {
    .primary-bg {
        height: 1000px;
    }
}

.sidebar-expanded {
    width: 230px;
}

.sidebar-collapsed {
    width: 60px;
}

#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}

.sidebar-submenu {
    font-size: 0.9rem;
}

#sidebar-container .list-group-item:hover {
    background-color: white;
}

@media only screen and (max-width: 1330px) {
    .mediasmalltxt {
        font-size: 1rem;
    }
}

#sidebar-container .list-group a {
    height: 50px;
    color: black;
    background-color: white;
    border: none;
}

.sidebar-separator-title {
    background-color: white !important;
    height: 115px !important;
}

.sidebar-separator {
    background-color: white;
    height: 25px;
}

.logo-separator {
    background-color: white;
    height: 60px;
}

#sidebar-container {
    min-height: 107vh;
    background-color: white;
    padding: 0;
}


#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}

#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}

.list-group-item:first-child {
    height: 100px;
    border: none;
}

.list-group-item:first-child img {
    width: 75%;
}

.list-group-item:last-child {
    margin-top: auto;
    border: none;
}

.active {
    background-color: #3086c5 !important;
    border: 1px solid #3086c5 !important;
    color: white !important;
    width: 107%;
}

.logoPrincipal {
    width: 100px !important;
}

.logoCollapsed {
    width: 55px !important;
}

.list-group-item {
    display: flex;
    justify-content: center;
}

.cardRotas {
    box-shadow: 4px 4px 16px 0px rgba(50, 50, 50, 0.41);
}

.logoHD {
    width: 55px;
    height: 35px;
}

.fa-bars {
    cursor: pointer;
}

#accordion {
    width: 107%;
}

#accordion-item {
    cursor: pointer;
    padding: 12px;
    padding-left: 10px;
    padding-bottom: 4px;
    margin-left: 12px;
}

#accordion-item[aria-expanded=false] .menu-collapsed::after {
    content: "\f104";
    font-family: fontawesome;
    color: #eabf13;
    font-weight: bold;
    position: absolute;
    right: 0;
    line-height: 1.2em;
    font-size: 18px;
    transform: rotate(0deg);
    transition: all ease .4s;
}

@keyframes giraIcone {
    0% {
        transform: rotate(0deg);
        transition: all ease .4s;
    }
    100% {
        transform: rotate(-90deg);
        transition: all ease .4s;
    }
}

#accordion-item[aria-expanded=true] .menu-collapsed::after {
    content: "\f104";
    font-family: fontawesome;
    color: #eabf13;
    font-weight: bold;
    line-height: 1.2em;
    position: absolute;
    transform: rotateZ(-90deg);
    right: 0;
    font-size: 18px;
    animation: giraIcone;
    animation-iteration-count: 1;
    animation-duration: .4s;
}

.card-block-collapse {
    -moz-box-flex: 1;
    flex: 1 1 auto;
    margin-top: 0px !important;
    margin-left: 15px;
    color: #232323;
    border-left: 2px solid #eabf13 !important;
}

.card-block-collapse ul.list-unstyled li a.list-group-item.active {
    width: 100%;
    background-color: #3086c5 !important;
    border-radius: 0 !important;
}

.card-block-collapse ul.list-unstyled li a.list-group-item {
    background-color: transparent !important;
}

.fa-fw {
    line-height: 1.5em !important;
}


/* Fim accordion */

.modalperfil {
    min-height: 5%;
    margin: 0 0 0 auto;
    background: #fff;
    margin-top: 4%;
    margin-right: 9%;
    border: none !important;
}

.imagemperfillogo {
    width: 100%;
}

.cabecalhomodalperfil {
    height: 10%;
}

.modal-content {
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
}

.modal-dialog {
    border-radius: 10px;
}

.tituloBemVindo {
    text-align: left;
    margin-top: 5%;
}

.opcoes {
    color: #7d7d7d;
    font-size: 18px;
    text-align: left;
    margin-top: 4px;
    font-family: Helvetica, Arial, sans-serif;
}

.opcoes:hover {
    color: #000000;
    text-decoration: none;
}

.btnSair {
    color: #000000;
    text-decoration: none;
}

.item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.setamodal:before {
    content: "";
    border-bottom: 10px solid white;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 9px;
    z-index: 10;
}

@media (max-width: 400px) {
 
    .modal-dialog.modalperfil.modal-sm{
      margin-left: 10%;
     
    }
  
    .modal-content.col-md-12{
      width: 295px;
    }
   a.hamburguer{
      display: none;
    }
  
    a.notify{
      margin-top: 0px;
    }
  
   }
  
  @media (max-width: 576px) {
    div.notify {
      position: relative !important;
      right: -19px !important;
      top: -46px !important;
    }
    .modal-footer-notify {
      font-size: 0.9rem;
    }
  
    a.notify{
      margin-top: 0px;
    }
  
    i{
      font-size: 18px;
    }
  
    .card:only-child{
      width: 100%;
      padding: 0;;
    }
  }

.template_faq {
    background: #edf3fe none repeat scroll 0 0;
  }
  
  .panel-group {
    background: #FFFFFF none repeat scroll 0 0 !important;
    margin-bottom: 0;
    padding: 10px;
  }
  
  #accordion .panel {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    margin: 0 0 15px 10px;
  }
  
  #accordion .panel-heading {
    border-radius: 30px;
    padding: 0;
  }
  
  #accordion .panel-title .pergunta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #FFC107;
    border-radius: 30px;
  }
  
  #accordion .panel-title .pergunta .actions {
    font-size: 20px;
    width: 70px;
    text-align: center;
    border-radius: 30px;
  }
  
  #accordion .panel-title .pergunta .actions i {
    margin-left: 4px;
    padding-left: 2px;
    cursor: pointer;
  }
  
  #accordion .panel-title .pergunta a {
    width: 95%;
    text-decoration: none;
    background: #ffb900 none repeat scroll 0 0;
    border: 1px solid transparent;
    border-radius: 30px;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 20px 12px 50px;
    position: relative;
    transition: all 0.2s ease;
  }
  
  #accordion .panel-title .pergunta a.collapsed {
    background: #fff none repeat scroll 0 0;
    color: #333;
  }
  
  #accordion .panel-title .pergunta a.collapsed p {
    color: #999;
  }
  
  p.data-criacao {
    font-size: 12px;
    color: #fff;
    margin-top: 2px;
    margin-bottom: 0px;
  }
  
  div.status-pergunta span {
    font-size: 12px;
    padding: 5px !important;
    color: #FFF;
    border-radius: 0px;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
  }
  
  #accordion .panel-title .pergunta a::after, #accordion .panel-title a.collapsed::after {
    background: #FFC107 none repeat scroll 0 0;
    border: 1px solid transparent;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.58);
    color: #fff;
    content: "";
    font-family: fontawesome;
    font-size: 25px;
    height: 55px;
    left: -20px;
    line-height: 55px;
    position: absolute;
    text-align: center;
    top: -5px;
    transition: all 0.3s ease 0s;
    width: 55px;
  }
  
  #accordion .panel-title .pergunta a.collapsed::after {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #FFC107;
    box-shadow: none;
    color: #333;
    content: "";
  }
  
  #accordion .panel-body {
    background: transparent none repeat scroll 0 0;
    border-top: medium none;
    padding: 20px 25px 10px 9px;
    position: relative;
  }
  
  #accordion .panel-body p {
    border-left: 1px dashed #8c8c8c;
    padding-left: 25px;
  }
  
  .btn-primary {
    background-color: #ffc107;
    border: none;
    color: black;
  }
  
  .btn-danger {
    background-color: #aa0e16;
    border: none;
  }
  
  .btnExportarCSV {
    border: solid 2px #ffc107;
  }
  
  .fa-trash {
    color: #ff0000;
  }

  @media (max-width: 576px) {
    div.notify {
      position: relative !important;
      right: -19px !important;
      top: -46px !important;
    }
    .modal-footer-notify {
      font-size: 0.9rem;
    }
  
    a.notify{
      margin-top: 0px;
    }
  
    i{
      font-size: 18px;
    }
  
    .card:only-child{
      width: 100%;
      padding: 0;;
    }
  }
  .colapsesAdmCss{
    color: #fff;
  }
  
  .valorProdutoModal {
    font-family: 'Finger Paint', cursive;
    font-size: 40px;
    text-align: right;
  }
  
  .subTitulo {
    width: 100%;
    color: #d70c19;
  }
  
  .tituloVazioCss {
    font-family: 'Finger Paint', cursive;
    font-size: 22px;
  }
  
  .listaDeCompra {
    background-color: #fff;
    width: 100%;
  }
  
  .footerTotal {
    margin-top: 5%;
  }
  
  .cardDeAlturaListaCss {
    width: 100%;
    height: 100%;
  }
  
  .cardTotal {
    height: 60px;
    width: 100%;
    position: relative;
    ;
  }
  
  .cardListaCompras {
    background-color: #fff;
  }
  
  .corpoDoModal {
    background-color: #f0f0f0;
  }
  
  .modal-dialog-slideout {
    min-height: 100%;
    margin: 0 -1% 0 auto;
    background: #fff;
  }
  
  .modal.fade .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(100%, 0)scale(1);
    transform: translate(100%, 0)scale(1);
  }
  
  .modal.fade.show .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    display: flex;
    align-items: stretch;
    -webkit-box-align: stretch;
    height: 100%;
  }
  
  .modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body {
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .modal-dialog-slideout .modal-content {
    border: 0;
  }
  
  .modal-dialog-slideout .modal-header, .modal-dialog-slideout .modal-footer {
    height: 69px;
    display: block;
  }
  
  .modal-dialog-slideout .modal-header h5 {
    float: left;
  }

  .notify-count {
    font-size: 0.7em !important;
  }

  .modalnotify {
    border-radius: 0 !important;
  }
  
  
  section.notifyline {
    display: flex;
    clear: both;
    height: 100px;
    padding-bottom: 2%;
  }
  
  div.notify {
    position: relative !important;
    right: 35px;
    top: -10px !important;
    
  }
  a.notify{
    margin-top: 5px;
    cursor: pointer;
  }